h1 {
    text-align: center;
    color: grey;
    padding: 20px;
}

.calender {
    text-align: center;
    padding: 20px;
}

.tableLayout {
    padding: 20px;
}
.Btns {
    padding: 50px;
    margin: 20px;
}